*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
  background-color: red;
}


/* inizio sezione scrollbar/menu */
header{
  text-align:right;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu{
  background-color: transparent;
}

.menu li{
  display: inline-block;
}

li a{
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
}
/* fine sezione scrollbar/menu */


/* inizio sezioni shoes */
section{
  height: 100vh;
  position: relative;
}

#sezione1{
  background-color: red;
}

#sezione2{
  background-color: green;
}

#sezione3{
  background-color: yellow;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  text-align: center;
  color: yellow;
}

#special{
  color: green;
}
/* fine sezioni shoes */
