*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

 /* header{
  position: fixed;
} */

.menu{
  background-color: red;
}

.menu li{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
}

li a{
  text-decoration: none;
}

section{
  height: 100vh;
  position: relative;
}

#sezione1{
  background-color: red;
}

#sezione2{
  background-color: green;
}

#sezione3{
  background-color: yellow;
}

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
